---
layout: default
description: Template for collections pages
composition:
    - type: heroImage
    - type: pageMarkdown
# contacts are required on page front matter when using this layout
## e.g.
#    contacts:
#     - name: Contact A
#       email: contactA@example.com
#     - name: Contact B
#       email: contactB@example.com

---

{% assign composition = page.composition | default: layout.composition %}

{{ content }}

<h2>{{ site.data.translations.writeUs[page.lang] }}</h2>

{% include contact_collections.md %}